.modal-backdrop.in {
  opacity: 0;
}

.add-modal {

  &__content {
    border: 2px solid #777;
  }
}

.modal-input {

  &__item {

    &_label {
      width: 80px;
      font-weight: 500;
    }

    &_input {
      border: 2px solid #777;
      margin-bottom: 10px;

      &:focus {
        border-color: greenyellow;
      }
    }
  }
}

.modal-button {
  border-top: none;
  text-align: center;

  &__item {
    width: 100px;
    height: 28px;
    padding: 0;
    border: 2px solid #777;
    background-color: hsl(0,0%,90%);
    transition: all .1s ease-in-out;

    &:hover {
      background-color: hsl(0,0%,80%);
    }

    &:focus {
      border-color: greenyellow;
    }

    &:first-child {
      margin-right: 42px;
    }
  }
}